header {
	width: 100%;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #333;
	margin: 0;
	text-align: center;
}

.menu {
	display: flex;
	align-items: center;
	gap: 10px;
}

.menu button {
	background: none;
	border: none;
	cursor: pointer;
}

.menu img {
	height: 24px;
	width: auto;
}

hr {
	color: lightgray;
	width: 100%;
	border: 0;
	height: 2px;
	background-color: #ccc;
	margin-top: 15px;
}

#restart-button {
	background-color: white;
	border-color: rgb(40, 44, 45);
	border-radius: 15px;
	font-size: 1.0rem;
	transition: background-color 0.3s, transform 0.2s;
}